.LogsSection{
    background-color: black;
    padding: 30px 20px;
    box-shadow: 2px 9px 5px rgb(148, 48, 48);
    max-height: 250px;
    overflow-y: scroll;
    h1{
        color: white;
    }
    div{
        p{
            color: white;
            font-size: 20px;
            display: none;
        }
    }
}
.logs{
    color: white;
}